<?xml version="1.0"?>
<config>
    <modules>
        <Smartwave_CountryDirectory>
            <version>1.0.0</version>
        </Smartwave_CountryDirectory>
    </modules>
    <global>
        <blocks>
            <countrydirectory>
                <class>Smartwave_CountryDirectory_Block</class>
            </countrydirectory>
            <directory>
                <rewrite>
                    <currency>Smartwave_CountryDirectory_Block_Currency</currency>
                </rewrite>
            </directory>
        </blocks>
    </global>
</config>
